<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->

  {# Grab the title and description from the CMS general settings. #}
  {% set site_title = getSetting('site_name')%}
  {% set site_description = getSetting('site_description')%}
  {% set site_url = getSetting('site_url')%}

  {# This will pull from the styleguide content type in the CMS. Remove comments from code below to enable facebook and twitter image meta data #}
  {# {% for item in cms.styleguide %}
    {% if item.name === "Social MetaData" %}
      {% for row in item.element %}
        {% if row.title === "Facebook OG Image" %}
          {% set facebookImage = site_url+"/"+row.example.url|replace('^/','','g') %}
        {% endif %}
        {% if row.title === "Twitter Card Image" %}
          {% set twitterImage = site_url+"/"+row.example.url|replace('^/','','g') %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %} #}

  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title>{% block title %}{{ site_title }}{% endblock %}</title>
    <meta content="{{ site_description }}" name="description"/>
    <meta content="width=device-width" name="viewport"/>

    {# This will pull from the styleguide content type in the CMS. Remove comments from code below to enable facebook and twitter image meta data #}
    {# <meta property="og:image" content="{{ facebookImage }}"/>
        <meta property="og:image:width" content="640" />
        <meta property="og:image:height" content="442" />
        <meta property="og:title" content="{% block title %}{{ site_title }}{% endblock %}"/>
        <meta property="og:url" content="{{ site_url }}"/>
        <meta property="og:description" content="{{ site_description }}"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="{% block title %}{{ site_title }}{% endblock %}"/>
        <meta name="twitter:description" content="{{ site_description }}"/>
        <meta name="twitter:image" content="{{ twitterImage }}"/> #}

    <link href="/static/images/favicon.png" rel="shortcut icon"/>
    <link href="/static/images/touch-icon.png" rel="apple-touch-icon"/>

    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css" rel="stylesheet"/>

    <!-- build:css /static/css/minified.css -->
    <link rel="stylesheet" type="text/css" href="/static/fonts/commercial-type-1511-EJHGSA-web/1511-EJHGSA.css">
    <link rel="stylesheet" href="/static/css/site.css"/>
    <!-- endbuild -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>

    {# Useful block for loading outside scripts in other pages. #}
    {% block head_extra %}{% endblock %}
  </head>

  <body {% block body_attributes %}{% endblock %}>
    {% block body %}
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    {% block header %}

    {% endblock %}


    {% block content %}

    {% endblock %}


    {% block footer %}
      {% include "templates/partials/footer.html" %}
    {% endblock %}


<!-- build:js /static/javascript/minified.js -->
    <script src="/static/javascript/site.js"></script>
<!-- endbuild -->

    {% block scripts_extra %}{% endblock %}

    {# Google Analytics code. Feel free to remove. #}
    {# replace UA-XXXXXXX-XX with analytics account number #}
    <script>
      var _gaq = [
        [
            '_setAccount', 'UA-XXXXXXX-XX'
        ], ['_trackPageview']
      ];
      (function (d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = '//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
      }(document, 'script'));
    </script>
    {% endblock %}
  </body>
</html>
