@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* Layout */
body {
  margin: 0;
  text-rendering: optimizeLegibility;
}

main {
  display: block;
}

/* Text */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

dl,
dd,
ol,
ul,
p,
address,
blockquote,
figure,
figcaption,
pre {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

pre {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 0.75em;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content */
img {
  border: 0;
}

/* Forms */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  bottom: 0;
  color: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}

input,
textarea {
  font-family: inherit;
}

textarea {
  resize: vertical;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-appearance: textfield;
}

/* Tables */
table {
  border-collapse: collapse;
}

th,
td {
  padding: 0;
}

th {
  vertical-align: bottom;
}

td {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  font-size: 15px;
  color: black;
}

body {
  font-size: 1.25rem;
  font-weight: 200;
  color: black;
  background-color: white;
}

main {
  margin-top: 5.34058rem;
  margin-bottom: 3.41797rem;
}
@media screen and (min-width: 300px) {
  main {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
  main::after {
    clear: both;
    content: "";
    display: table;
  }
}
@media screen and (min-width: 768px) {
  main {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
  main::after {
    clear: both;
    content: "";
    display: table;
  }
}

h1 {
  font-family: serif;
  font-size: 4.76837rem;
  font-weight: 400;
  line-height: 1.2;
  color: black;
}

h2 {
  font-family: "Helvetica", sans-serif;
  font-size: 2.44141rem;
  font-weight: 600;
  line-height: 1.2;
  color: black;
}

h3 {
  font-family: "Helvetica", sans-serif;
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: 1.2;
  color: black;
}

h4 {
  font-family: "Helvetica", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  color: black;
}

h5 {
  font-family: "Helvetica", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  color: #eea40a;
}

h6 {
  font-family: "Consolas", monospace;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.4;
  color: black;
}

p {
  font-family: "Helvetica", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  color: black;
}

p + p {
  margin-bottom: 1.12rem;
}

a {
  border-bottom: 1px solid #eea40a;
  display: inline;
}
p a {
  display: inline;
}

strong {
  font-weight: 600;
}

i,
em {
  font-style: italic;
}

blockquote {
  font-family: serif;
  font-weight: 400;
  margin-left: 3.41797rem;
  color: black;
}

cite {
  display: block;
  text-align: right;
  font-family: serif;
  font-style: italic;
}
cite:before {
  content: "— ";
}

ol {
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0.896rem;
  list-style-type: decimal;
  list-style-position: outside;
  list-style-image: none;
}

ul {
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0.896rem;
  list-style-type: disc;
  list-style-position: inside;
  list-style-image: none;
}

div,
img {
  width: 100%;
}

iframe {
  width: 100%;
}

/*# sourceMappingURL=site.css.map */