.header {
  text-align: center;
  z-index: 2000;
  @include media($mobile) {
    @include outer-container(90vw);
  };

  @include media($tablet) {
    @include outer-container(100vw);
  };
}

.nav {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.2s top ease;
  z-index: 9999;
  background-color: $c__white;

  @include media($mobile) {
    @include span-columns(6 of 6);
    display: flex;
    flex-wrap: wrap;
  };

  @include media($tablet) {
    @include span-columns(8 of 8);
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
  };

  @include media($laptop) {
    @include span-columns(8 of 10);
    @include shift(1);
    display: flex;
  };

  @include media($desktop) {
    @include span-columns(6 of 12);
    @include shift(3);
    display: flex;
  };
}

.nav--up {
  top: -100px;
}

.nav--down {
  top: 0;
}

.nav__container {
  list-style: none;
  margin-bottom: 0;

  @include media($mobile) {
    @include span-columns(6 of 6);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  };

  @include media($tablet) {
    @include span-columns(6 of 6);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  };

  @include media($laptop) {
    @include span-columns(8 of 8);
    display: flex;
  };

  @include media($desktop) {
    @include span-columns(6 of 6);
    display: flex;
  };
}

.nav__item {
  transition: 0.1s all ease;
  align-items: center;
  justify-content: center;
  padding: $l__space--small 0;
  border-bottom-color: $c__text;
  border-right: $t__border;

  @include media($mobile) {
    width: 50%;
    display: none;
    flex-grow: 0;

    &:hover {
      color: $c__pop;
      border-bottom-color: $c__text;
    }

    &:nth-child(2n+1) {
      border-right: none;
    }

    &:last-child, :nth-last-child(2):nth-child(even) {
      border-bottom: none;
    }

  };

  @include media($tablet) {
    display: flex;
    border-top: none;
    width: auto;
    justify-content: center;
    flex-grow: 1;

    &:nth-child(2n+1) {
      border-right: $t__border;
    }

    &:hover {
      border-bottom-color: $c__pop;
      color: $c__text;
    }

    &:last-child {
      border-right: none;
    }

    &:last-child, :nth-last-child(2):nth-child(even) {
      border-bottom: $t__border;
    }

  };

}

.nav__logo {
  @include media($mobile) {
    display: none;
  };

  @include media($tablet) {
    display: flex;
  };

  @include media($laptop) {
    display: flex;
  };

  @include media($desktop) {
    display: flex;
  };

  svg {
    box-sizing: border-box;
  }

  path {

  }
}

.nav__item--activator {
  @include media($mobile) {
    display: flex;
    width: 100%;
    border-right: none !important;
  };

  @include media($tablet) {
    display: none;
  };

  @include media($laptop) {
    display: none;
  };

  @include media($desktop) {
    display: none;
  };
}

.nav__item--deactivator {
  cursor: pointer;

  @include media($mobile) {
    display: none;
  };

  @include media($tablet) {
    display: none;
  };

  @include media($laptop) {
    display: none;
  };

  @include media($desktop) {
    display: none;
  };
}

.nav__item--active {

}

.nav__item--show {
  display: flex;
}

.nav__item--hide {
  display: none;
}

.nav--toggled {
  height: 100%;
}

.body--no-scroll {
  overflow: hidden;
}
