$l__space--xxsmall: modular-scale(-5)*$t__lineHeight--normal;
$l__space--xsmall: modular-scale(-2)*$t__lineHeight--normal;
$l__space--small: modular-scale(-1)*$t__lineHeight--normal;
$l__space--medium: modular-scale(0)*$t__lineHeight--normal;
$l__space--large: modular-scale(1)*$t__lineHeight--normal;
$l__space--xlarge: modular-scale(2)*$t__lineHeight--normal;
$l__space--xxlarge: modular-scale(4)*$t__lineHeight--normal;
$l__space--xxxlarge: modular-scale(6)*$t__lineHeight--normal;
